<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekymax.maxschedule">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logopure"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.geekymax.maxschedule.UPDATE_DATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <service
            android:name=".AppWidgetService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.geekymax.maxschedule.APPWIDGET_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.TestActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AddDeadlineActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ActivityDialogStyle" />
        <activity
            android:name=".activity.WlanConnectActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ActivityDialogStyle" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.LoginActivity"></activity>
    </application>

</manifest>